<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{name}}</title>
    <link rel="stylesheet" href="/css/storepage.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/gamepage.js"></script>

    </script>
  </head>
  <body id="top">
    {{> header}}

    <div id="container">
      <img src="{{image}}" alt="{{name}}" />
      <p id="title">{{name}}</p>
      <div id="description">
        <div id="right">
          <p>Rating across users: <span id="rating">{{rating}}</span></p>
          <p id="genre">Genre: {{genre}}</p>
          <br /><br /><br /><br /><br /><br />
          <div id="buttons">
            <button id="like" {{#if likes}} class= "disabled" {{/if}}>Like Game</button>
            <button id="dislike" {{#if dislikes}} class= "disabled" {{/if}}>Dislike Game</button>
            <br />
            <button id="add">Add Game To Library</button>
          </div>
        </div>
        <p>
          {{description}}
        </p>
      </div>
    </div>
    <div id="reviews">
      <p>Add a review!</p>
      <textarea name="textfield" id="textfield"></textarea>
      <br />
      <input type="submit" value="Submit" id="submit" />
      <div id="commentsection">
        {{#each reviews}}
          {{> reviews this}}
        {{/each}}
    </div>
  </body>
</html>