<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <link rel="stylesheet" href="/css/profilepage.css" />
    <script>
      function logOut() {
        window.location.href = "/logOut";
      }
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
  </head>
  <body>
    {{> header}}

    <main>
      <header>
        <img id="dp" src='../{{image}}' alt="dp" />
        <h1>{{username}}</h1>
        <p style="height: 300px; width: 300px; overflow: hidden; margin-top: 120px; word-wrap: break-word; ">
          {{description}}
        </p>
        <p style="color: silver; margin-left: 400px; margin-top: 255px">
          Total Games Owned: {{totalgames}}
        </p>
        {{#if user}}
          <a href="/editprofile" class="profile" id="profile">Edit Profile</a>
          <button type="button" onclick="logOut()">Log Out</button>
        {{/if}}
        <a href="/library/{{username}}" class="library">View Game Library</a>
      </header>
      <div id="games">
        {{#if mostplayed}}
          <h2>Most Played Game:</h2>
          <a href="/gamepage/{{mostplayed.name}}">
          <img class="mostplayed" src="../{{mostplayed.image}}" alt="fav" />
          </a>
          {{else}}
          <h2>Sorry! No games to show...</h2>
        {{/if}}
    <br>
        {{#if favorite}}
        <h2>Favorite Games:</h2>
        {{/if}}
        {{#each favorite}}
          <a href="/gamepage/{{name}}">
            <img class="fav" src="../{{image}}" alt="fav" />
          </a>
        {{/each}}
      </div>
    </main>
  </body>
</html>